@import 'bootstrap.min.css';
@import 'fonts.css';
@import 'icons.css';
@import 'isotope.css';

body{
	font-family: 'vistaNormal';
	background: url("img/bg-26b99737.jpg") top center fixed;
	background-size: cover;
}
#loader,#alerta{
	display:none;
}
#top{
	margin-top:5px;
	#logo{
		color: #0092DD;
		background: #FFF;
		float: left;
		font-size: 20px;
		padding: 10px;
		margin-bottom:10px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin-right: 10px;
	}
	a#historia{
		margin: 10px 10px;
		color: #0092DD;
		background-color: #fff;
		font-size: .8em;
		font-family: 'NovecentoWide';
		transition: background-color 0.3s ease;
		border: 1px solid #fff;
		float: left;
	}
	a#historia:hover{
		color:#fff;
		background-color: #0092DD;
	}
	#ellc{
		width:100%;
		@media screen and (min-width: 768px) {
			width:80%;
		}
		@media screen and (min-width: 992px) {
			width: 400px;
		}
		font-family: 'NovecentoWide';
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		height:48px;
		background:#fff;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		span{
			margin-top:6px;
			color: #909090;
			font-size: .9em;
			float: left;
			line-height: .9em;
			width: 53%;
			@media screen and (min-width: 440px) {
				margin-top: 12px;
			}
		}
		small{
			float: left;
			width: 30%;
			font-size: .8em;
			line-height: .9em;
			border-left: 1px solid #E8E8E8;
			margin-top: 8px;
			padding-left: 4px;
			color: #77CF6F;
			@media screen and (min-width: 440px) {
				margin-top: 14px;
			}
		}
		img{
			margin: 4px 4px;
		  	height: 40px;
		  	float: left;
		}
	}
	a{
		text-decoration: none;
	}
	#rrss{
		
		float: right;
		a.icons{
			border: 1px solid #fff;
			margin: 10px;
			float: left;
			width: 30px;
			height: 30px;
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;
			background-color:#fff;
			text-align: center;
			line-height: 30px;
			transition: background-color 0.3s ease;
		}
		a#tofb:hover{
			color:#fff;
			background-color:#3b5998;
		}
		a#totw:hover{
			color:#fff;
			background-color:#00aced;
		}
		a#toinst:hover{
			color:#fff;
			background-color:#517fa4;
		}
	}	
}
#content{
	.well {
		padding: 0;
		overflow: hidden;
		border: none;
		background-color: #EDEE8F;
		transition: background-color 0.3s ease;
		img{
			width: 100%;
		}
		p,small{
			float: left;
			padding:10px;
		}
		small{
			width:100%;
		}
		p.ttext a{
			color:#00aced;
		}
		a.tw{
			color:#00aced;
			text-decoration: none;
			font-size: 1.2em;
		}
	  	.bottom.icon-twitter {
	  		color: #00aced;
			font-size: 30px;
			position: absolute;
			bottom: 25px;
			right: 25px;
			opacity: .5;
		}
		.bottom.icon-facebook {
	  		color: #3b5998;
			font-size: 30px;
			position: absolute;
			bottom: 25px;
			right: 25px;
			opacity: .5;
		}
	}
	.well:hover {
		background-color: #fff;
	}
}